html {
    width: 800px;
    height: 100%;
    font-size: 1.5em;
}

body {
    background-color: #262626;
    overflow: hidden;
}

h2 {
    color: #f2f2f2;
    text-align: center;
}

.centeredContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerRow {
    background-color: rgb(77, 77, 77);
    color: #f2f2f2;
}

table.shortcutTable {
    border-collapse: collapse;
    color: #f2f2f2;
    width: 100%;
}

table.shortcutTable td {
    width: 50%;
    border: 1px solid #f2f2f2;
}

button.button {
  background-color: #00a82d;
  border: none;
  border-radius: 10px;
  color: #003013;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  cursor: pointer;
}
