html {
    width: 800px;
    height: 600px;
    /*padding: 5px;*/
    font-size: 1.5em;
}       

body {
    background-color: #262626;
    overflow: hidden;
}
h3 {
    margin: 0;
    color: #00a82d;
}
h2 {
    color: #f2f2f2;
    text-align: center;
}
table.shortcutTable {
    border-collapse: collapse;
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
    width: 100%;
}

table.shortcutTable td {
    width: 50%;
    border: 1px solid #f2f2f2;
}

.headerRow {
    background-color: rgb(77, 77, 77);
    color: #f2f2f2;
}

.headerCell {
    width: 50%;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: #f2f2f2;
    text-align: center;
}

.button {
  background-color: #00a82d;
  border: none;
  border-radius: 10px;
  color: #003013;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  cursor: pointer;
}
