body{
    width: 350px;
    height:250px;
    padding: 10px;
    background-color: rgb(26, 26, 26);
}

h2, h3 {
    margin-top: 0px;
    text-align: center;
    color: rgb(230, 230, 230)
}

table, i {
    color: rgb(230, 230, 230);
    text-align: center;
    font-size: 1.3em;
}
